@import "./theme.scss";
@import "./variables.scss";

* {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

body {
	background-color: #dadde6;
	overflow: hidden;
	letter-spacing: 1px;
	word-spacing: 2px;
}
