$primary-color: #fec500;
$secondary-color: #ffffff;

$primary-font-color: #152238;
$secondary-font-color: #989898;

$primary-button-color: $primary-color;
$secondary-button-color: #b33a3a;
$btn-text-color: $secondary-color;

$body-bg-color: #dadde6;

$font-regular: 1rem;
$font-lg: 2rem;
$font-sm: 0.5rem;

$card-text-color: #2b2b2b;

$scrollbar-bg-color: #989898;
