.card {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 2fr;
	background-color: #ffffff;
	color: #989898;
	border-radius: 4px;
	text-transform: uppercase;
	.cardDateWrapper {
		border-right: 2px dashed #dadde6;
		.cardDate {
			color: #2b2b2b;
			font-weight: 600;
			font-size: 2rem;
		}
	}
	.cardContent:before,
	.cardContent:after {
		content: "";
		display: block;
		width: 1.875rem;
		height: 1.875rem;
		background-color: #dadde6;
		position: absolute;
		top: -0.938rem;
		left: -0.938rem;
		z-index: 1;
		border-radius: 50%;
		grid-column: 2/3;
	}
	.cardContent:after {
		top: auto;
		bottom: -0.938rem;
	}
	.cardContent {
		grid-column: 2/3;
		.cardContentWrapper {
			padding: 1rem;
		}
		.cardTitle {
			font-size: 1.5rem;
			color: #2b2b2b;
			font-weight: 600;
			margin-bottom: 0.875rem;
		}
	}
}
