@import "../../../../styles/variables.scss";

.card {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 2fr;
	background-color: $secondary-color;
	color: $secondary-font-color;
	border-radius: 4px;
	text-transform: uppercase;

	.cardDateWrapper {
		margin: auto;

		.cardDate {
			color: $card-text-color;
			font-weight: 600;
			font-size: $font-lg;
		}
	}

	.cardContent:before,
	.cardContent:after {
		content: "";
		display: block;
		width: 1.875rem;
		height: 1.875rem;
		background-color: $body-bg-color;
		position: absolute;
		top: -0.938rem;
		left: -0.938rem;
		z-index: 1;
		border-radius: 50%;
		grid-column: 2/3;
	}

	.cardContent:after {
		top: auto;
		bottom: -0.938rem;
	}

	.cardContent {
		grid-column: 2/3;
		border-left: 2px dashed $body-bg-color;
		text-align: start;

		.cardContentWrapper {
			padding: 1rem;
		}

		.cardTitle {
			font-size: 1.5rem;
			color: $card-text-color;
			font-weight: 600;
			margin-bottom: 0.875rem;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.buttonWrapper {
			text-align: end;
			padding-right: 1rem;
			padding-bottom: 1rem;
		}
	}
}
